.quiztimer-countdown-section {
    color: black;
    border: 1px solid rgb(255, 136, 0);
    font-size: 20px;
    margin: 10px;
}

.quiztimer-countdown-question {
    color: black;
    border: 1px solid rgb(255, 136, 0);
    font-size: 20px;
}



